<nb-layout>

  <nb-layout-header fixed>
  	<button nbButton hero status="primary" (click)="toggle()">МЕНЮ</button>
  </nb-layout-header>

  <nb-sidebar fixed>
	<app-sidebar></app-sidebar>
  </nb-sidebar>

  <nb-layout-column>

    <div class="container-fluid">
    	<main class="row">
    		<content class="col-lg-12">
    			<div class="my-content my-3 p-3">
    				<nav class="nav d-flex align-items-center justify-content-end p-3 my-nav">
    					<a class="nav-link" href="#">Active</a>
    					<a class="nav-link" href="#">Active</a>
    					<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    						<img src="https://sun9-34.userapi.com/c856520/v856520192/644ab/CZm5D47FDlc.jpg?ava=1" alt="Болатов Мадияр"> 
    						Болатов Мадияр
    					</a>
    					<div class="dropdown-menu dropdown-menu-right">
    						<a class="dropdown-item" href="#"><i class="fas fa-fw fa-envelope"></i> Хаттар</a>
    						<a class="dropdown-item" href="#"><i class="fas fa-fw fa-user-friends"></i> Достар</a>
    						<a class="dropdown-item" href="#"><i class="fas fa-fw fa-sliders-h"></i> Баптаулар</a>
    						<a class="dropdown-item" href="#"><i class="fas fa-fw fa-sign-out-alt"></i> Шығу</a>
    					</div>
    				</nav>
    				<router-outlet></router-outlet>
    			</div>
    		</content>
    	</main>
    </div>
  </nb-layout-column>

  <nb-layout-footer fixed>
  <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
