.main {
    height: 100vh;
}
.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
}

.trigger:hover {
    color: #1890ff;
}

.logo {
    line-height: 52px;
    height: 52px;
    font-weight: bold;
}

.logo a {
    color: rgb(228, 32, 91) !important;
    font-size: 18px !important;
}

nz-header {
    background: #fff;
    padding: 0;
    z-index: 2;
    box-shadow: 0 0 1em rgba(12, 10, 31, 0.3);
}

nz-content {
    padding: 0 16px;
    overflow-y: scroll;
}

nz-breadcrumb {
    margin: 16px 0;
}

.inner-content {
    padding: 24px;
    background: #fff;
    min-height: 360px;
    margin: 40px 20px;
    box-shadow: 0 0 1.5em rgba(12, 10, 31, 0.1);
}