<nz-layout class="main">
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
        <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
            <li nz-menu-item class="logo">
                <a routerLink="/main">
                    <i nz-icon nzType="home" [nzTheme]="'fill'" style="font-size: 18px;"></i> <span>SalemAlem</span>
                </a>
            </li>

            <li nz-menu-item routerLinkActive="ant-menu-item-selected">
                <a routerLink="/main/blog"><i nz-icon nzType="file-text"></i> <span>Мақалалар</span></a>
            </li>
            <li nz-menu-item routerLinkActive="ant-menu-item-selected">
                <a routerLink="/main/book">
                    <i nz-icon nzType="book"></i> <span>Кітапхана</span>
                </a>
            </li>
            <!--
            <li nz-submenu nzTitle="User" nzIcon="user">
                <ul>
                    <li nz-menu-item>Tom</li>
                    <li nz-menu-item>Bill</li>
                    <li nz-menu-item>Alex</li>
                </ul>
            </li>
            -->
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header>
            <i
                class="trigger"
                nz-icon
                [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
                (click)="isCollapsed = !isCollapsed"
            ></i>
            <button nz-button nzShape="round" nzSize="large" style="float:right;margin:10px" [routerLink]="['/']">
                <i nz-icon nzType="user"></i> <span>Шығу</span>
            </button>
        </nz-header>
        <nz-content>
            <div class="inner-content"><router-outlet></router-outlet></div>
        </nz-content>
    </nz-layout>
</nz-layout>