<div class="sidebar">
	<div class="d-flex justify-content-between">
		<a routerLink="/" class="salem-logo">SalemAlem</a>

		<a class="btn btn-primary d-lg-none d-block align-self-center" data-toggle="collapse" href="#sidebarCollapse" role="button" aria-expanded="false" aria-controls="sidebarCollapse">
			<i class="fas fa-bars"></i>
		</a>
	</div>

	<div class="collapse d-lg-block" id="sidebarCollapse">
		
		<h4 class="px-2 mt-3">Білім алу</h4>
		<nav class="list-card mb-3">
			<a routerLink="/course"><i class="fas fa-fw fa-graduation-cap"></i> Курстар</a>
			<a href="#"><i class="fas fa-fw fa-laptop-code"></i> Практика</a>
			<a href="#"><i class="fab fa-fw fa-stack-overflow"></i> Сұрақ/Жауап</a>
			<a href="#"><i class="fas fa-fw fa-book-open"></i> Кітапхана</a>
		</nav>

		<!-- <div class="text-center mt-4">
			<div class="btn-group">
				<a href="#" class="btn btn-sm btn-link">Біз туралы</a>
				<a href="#" class="btn btn-sm btn-link">қаз</a>
				<a href="#" class="btn btn-sm btn-link"><i class="fas fa-adjust"></i></a>
			</div>
		</div> -->
	</div>
</div>