<h1 nz-typography>Мадияр Болатов, сәлеметсіз бе!</h1>
<nz-divider></nz-divider>
<nz-card>
    <div nz-card-grid [ngStyle]="gridStyle">
        <i nz-icon nzType="file-text" nzTheme="outline" style="font-size: 40px;display: block;"></i>
        Мақалалар
    </div>
    <div nz-card-grid [ngStyle]="gridStyle">
        <i nz-icon nzType="book" nzTheme="outline" style="font-size: 40px;display: block;"></i>
        Кітаптар
    </div>
    <div nz-card-grid [ngStyle]="gridStyle">
        <i nz-icon nzType="appstore" nzTheme="outline" style="font-size: 40px;display: block;"></i>
        Курстар
    </div>
    <div nz-card-grid [ngStyle]="gridStyle">Content</div>
    <div nz-card-grid [ngStyle]="gridStyle">Content</div>
    <div nz-card-grid [ngStyle]="gridStyle">Content</div>
</nz-card>